// Place all the styles related to the admin::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-user-search ul li{
	display: inline-block;
	list-style: none;
	padding: 0 10px
}

.admin-search-user{
  width: auto;
  height: auto;
  background-size: 200%;
  display: block;
  text-align: center;
  line-height: 200%;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #000;
  cursor: pointer;
  text-decoration: none;
}