<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<div style="margin: 100px 0;"><%= image_tag 'contact.svg', :width => "90%" %></div>
		</div>
		<div class="col-xs-8">

			<div class="contact-all">
			<h2 style="text-align: center;">お問い合わせ一覧</h2>
				<table class="table">
					<thead>
						<tr>
							<th width="30%">タイトル・返信ステータス</th>
							<th width="70%">投稿内容</th>
						</tr>
					</thead>
					<tbody>
						<% @contacts.each do |contact| %>
							<tr>
								<td>
									<%= link_to contact.title, admin_contact_path(contact.id), data: {"turbolinks" => false} %><br>
									<!-- 返信ステータスのデフォルトはfalse(未返信) -->
									<% if contact.is_deleted == false %>
										<p class="btn no-reply">未返信</p>
									<% else %>
										<p class="btn reply">返信済</p>
									<% end %>
								</td>
								<td><%= contact.body %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>

<style>
	.no-reply{
		width: auto;
		height: auto;
		background-color: #808080;
		color: #fff;
	}

	.no-reply:hover{
		color: #fff;
		cursor: default;
	}

	.reply{
		width: auto;
		height: auto;
		background-color: #2E3892;
		color: #fff;
	}

	.reply:hover{
		color: #fff;
		cursor: default;
	}
</style>