<div class="container">
	<div class="row">
		<!-- ユーザーの情報 -->
		<div class="col-xs-3">
			<%= user.email %>
		</div>
		<!-- 右側のページ -->
		<div class="col-xs-9">
			<!-- 新規投稿フォーム 非同期通信予定 -->
			<div class="new-post">

			</div>
			<!-- ユーザーの投稿一覧 -->
			<div class="user-post-all">

			</div>
		</div>
	</div>
</div>