<div class="container">
	<div class="row">
		<div class=""col-xs-5 col-xs-offset-1>
			<!-- 違反者通報画面 -->
				<div class="new-notice">
				<%= form_with(model: @notice, local: true, url: notices_path) do |f| %>
					<%= f.text_area :body, class:"form-control new-notice", style:"width: 90%; height:100px;", placeholder:"何を共有したいですか？" %>
        	<%#= link_to "戻る", user_path(user.id), class:"btn back-user", style:"color: #fff; font-size: 15px;"  %>
					<%= f.submit :このユーザーをも通報する, class:"btn create-notice", style:"color: #fff; font-size: 15px;" %>
				<% end %>
				</div>
			<!-- ここまで -->
		</div>
	</div>
</div>