<!-- サンクスページ -->
<div style="position: relative; height: 80vh;">
	<div id="contact">
		<div class="thanks">
			<div class="content">
				<h2>お問い合わせありがとうございました</h2>
				<%=link_to "トップへ戻る", root_path, class:"btn back-top", style:"color: #fff; font-size: 15px;" %>
			</div>
		</div>
	</div>
</div>

<style>
	body{
		color: #fff;
		position: relative;
		background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("<%= asset_path('cafe.jpg') %>");
		background-size: cover;
		background-position: bottom;
	}
	footer p{
		color: #333;
	}
</style>