<p class="skills-all skill_form_<%= skill.id %>" style="display: inline-block; border-radius: 5px; background-color: #32be8f; color: #fff; padding: 2px 5px; margin: 5px 0;">
	<%= skill.skill_name %>
	<% if user == current_user %>
		<%= link_to "", skill_path(skill), remote: true, method: :delete, class:"fas fa-backspace", style:"color: #fff; font-size: 15px; padding: 5px;" %>
	<% end %>
</p>