<p class="skills-all" style="display: inline-block; border-radius: 5px; background-color: #32be8f; color: #fff; padding: 2px 5px; margin: 5px 0;">
	<%= skill.skill_name %>
	<%= link_to "", skill_path(skill), method: :delete, class:"fas fa-backspace", style:"color: #fff; font-size: 15px; padding: 5px;" %>
</p>