<table class="table">
	<thead>
		<tr class="notice-head">
			<th width="20%">ユーザーID</th>
			<th width="30%">ユーザー名</th>
			<th width="25%">フォロー関係</th>
			<th width="25%">ユーザーステータス</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= link_to user.id, admin_user_path(user), data: {"turbolinks" => false} %></td>
			<td><%= user.username %></td>
			<td><%= user.following.count %> Following<br><%= user.followers.count %> Follower</td>
			<!-- ユーザーステータスのデフォルトはfalse(有効)。これがややこしい -->
			<% if user.is_deleted == false %>
				<td><p class="btn user-active">有効</p></td>
			<% else %>
				<td><p class="btn user-inactive">退会</p></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>

<style>
	.user-active{
		width: auto;
		height: auto;
		background-color: #2E3892;
		color: #fff;
	}

	.user-active:hover{
		color: #fff;
		cursor: default;
	}

	.user-inactive{
		width: auto;
		height: auto;
		background-color: #808080;
		color: #fff;
	}

	.user-inactive:hover{
		color: #fff;
		cursor: default;
	}
</style>