<table class="table">
	<thead>
		<tr class="notice-head">
			<th width="20%">ユーザーID</th>
			<th width="30%">ユーザー名</th>
			<th width="25%">フォロー関係</th>
			<th width="25%">ユーザーステータス</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= link_to user.id, admin_user_path(user) %></td>
			<td><%= user.username %></td>
			<td><%= user.following.count %>:following<br><%= user.followers.count %>follower</td>
			<!-- ユーザーステータスのデフォルトはfalse(有効)。これがややこしい -->
			<% if user.is_deleted == false %>
			<td>有効</td>
			<% else %>
			<td>退会</td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>