<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="user-search" style="text-align: center;">
			<h2 class="">ユーザー検索</h2>
			<!-- usernameでのみ検索可能 -->
			<%= form_with url: admin_searches_path, method: :get, local: true do |f| %>
			  <%= f.text_field :username %>
			  <%= f.submit "検索する" %>
			<% end %>
			</div>
				<div class="user-all">
				<h2 style="text-align: center;">ユーザー一覧</h2>
					<!-- ユーザーの情報 -->
					<%= render 'admin/users/user_info', user: @user %>

				</div>
		</div>
	</div>
</div>