// Place all the styles related to the user::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* root画面のscss */
/* background-imageは.htmlに記載 */

section{
	padding-top: 30px;
}

.about .explain{
	position: absolute;
	width: auto;
	top: 50%;
	left: 50%;
	transform : translate(-50%,-50%);
	text-align: center;
	color: #fff;
	border: 1px solid #fff;
	padding: 25px;
}

.about .explain:hover{
	text-decoration: none;
	background-color: rgba(46,56,146,0.5);
	transition: 0.5s ease;
	color: #fff;
	opacity: 1;
}

.place h4{
	padding-top: 15px;
}

.contact .content{
	position: absolute;
	width: auto;
	top: 50%;
	left: 50%;
	transform : translate(-50%,-50%);
	text-align: center;
	color: #fff;
	border: 1px solid #fff;
	padding: 25px;
}

.contact .content:hover{
	text-decoration: none;
	background-color: rgba(46,56,146,0.5);
	transition: 0.5s ease;
	color: #fff;
	opacity: 1;
}

.contact .content{
	position: absolute;
	width: auto;
	top: 50%;
	left: 50%;
	transform : translate(-50%,-50%);
	text-align: center;
	color: #fff;
}

/* aboutのページ */

.caption{
	text-align: center;
	padding-top: 50px;
	height: 500px;
}

.caption-footer .btn{
	width: 200px;
	height: 80px;
	background-color: #32be8f;
	padding-top: 20px;
}

.caption p{
	font-size: 15px
}

.caption-footer{
	position: relative;
	padding-top: 50px;
	height: 500px;
	width: 100%;
}

.caption-footer h1{
	text-align: center;
}

.caption-footer .signin{
	position: absolute;
	width: auto;
	top: 50%;
	left: 50%;
	transform : translate(-50%,-50%);
	text-align: center;
}

/* js 対応の記載 */

.js-animation {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: all 1s;
}
.js-animation.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}