// Place all the styles related to the user::relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.unfollow-user{
  width: auto;
  height: auto;
  background-size: 200%;
  display: block;
  text-align: center;
  line-height: 200%;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #32be8f;
  cursor: pointer;
  text-decoration: none;
}

.follow-user{
  width: auto;
  height: auto;
  background-size: 200%;
  display: block;
  text-align: center;
  line-height: 200%;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #3254BE;
  cursor: pointer;
  text-decoration: none;
}